<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%-include("Boiler/Nav")%>
  <%-include("Page/Home")%>
  </body>
</html>
